@font-face {
    font-family: 'Miki';
    src: url('../fonts/kontrapunktmiki-Regular.eot');
    src: url('../fonts/kontrapunktmiki-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kontrapunktmiki-Regular.woff2') format('woff2'),
         url('../fonts/kontrapunktmiki-Regular.woff') format('woff'),
         url('../fonts/kontrapunktmiki-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Miki';
    src: url('../fonts/kontrapunktmiki-Bold.eot');
    src: url('../fonts/kontrapunktmiki-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kontrapunktmiki-Bold.woff2') format('woff2'),
         url('../fonts/kontrapunktmiki-Bold.woff') format('woff'),
         url('../fonts/kontrapunktmiki-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Miki';
    src: url('../fonts/kontrapunktmiki-Extrabold.eot');
    src: url('../fonts/kontrapunktmiki-Extrabold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kontrapunktmiki-Extrabold.woff2') format('woff2'),
         url('../fonts/kontrapunktmiki-Extrabold.woff') format('woff'),
         url('../fonts/kontrapunktmiki-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
